body {
    font-size: 14px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 1.42857143;
}

main {
    margin-top: 70px;
}

section {
    margin-bottom: 50px;
}

h1, h2, h3, h4 {
    color: black;
    font-weight: 500;
    font-family: 'Questrial', sans-serif;
}
h1 {
    font-size: 23px;
    font-weight: bold;
}
h3 {
    font-size: 23px;
}

li {
    margin-bottom: 3px;
}

img {
    max-width: 100%;
}

a.active {
    background: #4e5d6c;
    opacity: 0.8;
}

header.navbar {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    background: #009d91;
}
header.navbar a {
    color: black !important;
}
.navbar .navbar-brand {
    font-size: 28px;
    height: auto;
    line-height: 50px;
    margin-left: 20px;
}
.navbar .navbar-brand small {
    font-size: 18px;
    margin-left: 10px;
    text-transform: uppercase;
}

.nav-pills li {
    border-bottom: 2px solid #2f4050;
}
.nav-pills li a {
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
    line-height: 0.8em;
}

.container-primary {
    border-left: 1px solid #4e5d6c;
    background: #f3f3f4;
    color: #333;
    margin-bottom: 0;
    padding-top: 15px;
    min-height: 100vh;
}

@media (min-width: 768px) {
    #sidebar {
        position:fixed;
    }
}
@media (max-width: 960px) {
    body {
        font-size: 17px;
    }
    pre {
        font-size: 12px;
    }
}

.page-header {
    margin-top: 0;
    border-bottom-color: #ccc;
}

#sidebar .github-star {
    margin-top: 20px;
    margin-left: 50px;
}

#sidebar .text-muted {
    color: #859AAF;
}

pre {
    padding: 0;
    border-color: #3D5166;
    background-color: #1D2B3A;
    border-radius: 4px;
    margin: 15px;
}
pre code {
    border: none;
    background-color: #1D2B3A;
}

code {
    padding: 2px 4px;
    font-size: 90%;
    color: #009d91;
    background-color: #f9f2f4;
    border-radius: 4px;
}
